<%= render 'layouts/header' %>

<section id="main-slider" class="no-margin">
  <div id="carouselControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'bg1.jpg', class: "d-block w-100", alt: "First slide" %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'bg2.jpg', class: "d-block w-100", alt: "Second slide" %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'bg3.jpg', class: "d-block w-100", alt: "Third slide" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<div class="feature">
  <div class="container">
    <div class="text-center row">
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="fa fa-book"></i>
          <h2>Full Responsive</h2>
          <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
          <i class="fa fa-laptop"></i>
          <h2>Retina Ready</h2>
          <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
          <i class="fa fa-heart-o"></i>
          <h2>Full Responsive</h2>
          <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
          <i class="fa fa-cloud"></i>
          <h2>Friendly Code</h2>
          <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>about us</h2>
        <%= image_tag "6.jpg", class: "img-fluid" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        </p>
      </div>

      <div class="col">
        <h2>Template built with Twitter Bootstrap</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
            libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
            libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque </p>
      </div>
    </div>
  </div>
</div>

<div class="lates">
  <div class="container">
    <div class="text-center">
      <h2>Lates News</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "4.jpg", class: "img-fluid" %>
        <h3>Template built with Twitter Bootstrap</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        </p>
      </div>

      <div class="col-md-4">
        <%= image_tag "4.jpg", class: "img-fluid" %>
        <h3>Template built with Twitter Bootstrap</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        </p>
      </div>

      <div class="col-md-4">
        <%= image_tag "4.jpg", class: "img-fluid" %>
        <h3>Template built with Twitter Bootstrap</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        </p>
      </div>
    </div>
  </div>
</div>

<section id="partner">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2>Our Partners</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <div class="partners">
      <ul>
        <li> <a href="#"><%= image_tag 'partner1.png', class: "img-fluid" %></a></li>
        <li> <a href="#"><%= image_tag 'partner2.png', class: "img-fluid" %></a></li>
        <li> <a href="#"><%= image_tag 'partner3.png', class: "img-fluid" %></a></li>
        <li> <a href="#"><%= image_tag 'partner4.png', class: "img-fluid" %></a></li>
        <li> <a href="#"><%= image_tag 'partner5.png', class: "img-fluid" %></a></li>
      </ul>
    </div>
  </div>
  <!--/.container-->
</section>

<section id="conatcat-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="media contact-info">
          <div class="pull-left">
            <i class="fa fa-phone"></i>
          </div>
          <div class="media-body">
            <h2>Have a question or need a custom quote?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
<!--/#conatcat-info-->

<footer>
  <div class="footer">
    <div class="container">
      <div class="social-icon">
        <div class="col-md-4">
          <ul class="social-network">
            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-md-offset-4">
        <div class="copyright">
          &copy; Company Theme. All Rights Reserved.
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Company
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></div>
        </div>
      </div>
    </div>

    <div class="pull-right">
      <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
    </div>
  </div>
</footer>