<div class="container">
  <div class="section">
    <h1 class="text-center">Products</h1>
    <hr />
    <div class="row">
      <% @products.each do |product| %>
        <div class="product-tile col">
          <%= image_tag product.image.url, height: 160, width: 160, alt: "Product Image", class: 'img-fluid' %>
          <div class="product-details">
            <h6><%= product.name %></h6>
            <p class="product-tile-description"><%= product.description %></p>
            <p><%= product.price %></p>
            <a href='#'><%= fa_icon('plus') %>Add to Cart</a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>