<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Area 51 Hemp | Hemp Oil for Sale | CBD Online | Shop CBD products | CBD Oil For Sale</title>
    <meta name="description" content="Hemp Oil for Sale &amp; other hemp-derived CBD products from Area 51 Hemp. Pure CBD Isolate, CBD Tincture, CBD Lotions, CBD Salves &amp; CBD Oil for Sale. Shop CBD Online now!">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Hemp Oil for Sale | CBD Online | Shop CBD products | CBD Oil For Sale">
    <meta property="og:url" content="www.area51hemp.com">
    <meta property="og:site_name" content="Area 51 Hemp">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Hemp Oil for Sale &amp; other hemp-derived CBD products from Area 51 Hemp. Pure CBD Isolate, CBD Tincture, CBD Lotions, CBD Salves &amp; CBD Oil for Sale. Shop CBD Online now!">
    <meta name="twitter:title" content="Hemp Oil for Sale | CBD Online | Shop CBD products | CBD Oil For Sale">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>ENV = <%= js_env.to_json.html_safe %>;</script>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
